.App {
  display: flex;
  flex-direction: column;
  width:300px;
  margin: auto;
  justify-content: center;
}

.nav {
  height: 56px;
  display: flex;
  align-content: center;
  align-items: center;
}